# Exports
export(ecomem)
export(ecomemGLM)
export(ecomemMCMC)
export(ecomemGLMMCMC)
export(mem2mcmc)
export(memsum)
export(plotmem)

# Imports
import(snow, rlecuyer)

importFrom("stats","formula","model.matrix","lm","glm","coef",
           "median","quantile","rnorm","runif")
